.categories__container {
  ul {
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 8px;
    padding: 10px;
    background: #0d0e13;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;

    h2 {
      padding: 8px 0 8px 12px;
      font-size: 12px;
      font-weight: 600;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      width: 272px;
      height: 36px;
      padding-left: 16px;
      background: #171a26;
      overflow: hidden;
      border: 1px solid #1f2233;
      border-radius: 8px;
      font-weight: 600;
      z-index: 0;
      transition-duration: 0.3s;
      cursor: pointer;
      

      &:hover {
        border-color: #fff;
      }

      &.active {
        border-color: #adfcff;
      }

      img {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition-duration: 0.3s;
        border-radius: 8px;
      }
    }
  }
}
