.container {
  display: flex;
  gap: 40px;

  @media (max-width: 1140px) {
    flex-direction: column;
  }

  @media (max-width: 1137px) {
    margin-top: 10px;
  }

  .item__block {
    position: relative;
    background: #0d0e13;
    border-radius: 0.75rem;
    padding: 2.5rem;

    p {
      font-size: 24px;
      font-weight: 600;
      color: #adfcff;
    }

    .items__container {
      max-height: 500px;
      overflow: auto;
      margin-top: 10px;

      &::-webkit-scrollbar {
        width: 0.4375rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #282b41;
        border-radius: 10px;

        &:hover {
          background-color: #363a51;
        }
      }
    }
  }
  .total__block {
    position: sticky;
    top: 82px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 300px;
    padding: 1.5rem;
    background: #0d0e13;
    border-radius: 0.75rem;

    .total__details {
      margin-bottom: 12px;
      padding: 0 12px;
      border: 1px solid #272b3f;
      border-radius: 8px;

      div {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding: 12px 60px 12px 0px;
        border-bottom: 1px dashed #272b3f;
        font-size: 12px;
        color: #a1a8ce;
        b {
          color: #fff;
        }
      }
      div:last-child {
        border: none;
      }
    }
    .price__block {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      font-size: 12px;
      color: #a1a8ce;
      div {
        p {
          margin-top: 8px;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
        }
      }

      div:last-child {
        p {
          color: #adfcff;
        }
      }
    }
    hr {
      margin-top: 12px;
      background: #272b3f;
      width: 100%;
      height: 0.1rem;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      padding: 0 16px;
      border-radius: 8px;
      font-weight: 600;
      color: #0d0e13;
      transition-duration: 0.3s;
      cursor: pointer;

      &.clear{
        margin-bottom: 15px;
        background-color: transparent;
        border: 1px solid #363a51;
        color: #adfcff;

        &:hover {
          border-color: #fff;
          color: #fff;
        }
      }

      &.buy{
        margin-top: 15px;
        background-color: #adfcff;
        color: #000;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}
